.ourTeam {
	/* height: 600px; */
	padding: 5% 7% !important;
	width: 100%;
	background-image: url("../../../public/assets/light-bg.png");
	background-size: cover;
	color: #400d51;
}

.popupBox {
	text-align: center;
	padding: 1rem;
	background-color: #ffe6e6;
	color: #e63946;
}

.popupBox img {
	max-width: 150px;
	max-height: 150px;
	border-radius: 50%;
}

.teamMap {
	min-height: 400px;
}
